.collection-box{
    display: grid;
    grid-template-columns: 30% 30% 30% 30%;
    grid-template-rows: 5% 70%;
    grid-gap: 30% 12.5%;
    width: 50%;
    left: 25%;
    height: 25%;
    background-color: #FFC635;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
}
.collection-box .coin{
    position: relative;
    width: 20%;
    filter: brightness(50%);
    opacity: 50%;
}
.collection-box .coin[data-found="true"]{
    filter: brightness(100%);
    opacity: 1;
}
.coinBox{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    opacity: 0;
    transform-origin: top;
}
.coinBox[data-active="true"]{
    z-index: 10000;
    opacity: 1;
}
.item{
    background-color: red;
}
.stop-transition{
    animation: none !important;
    transition: none !important;
}
.using-collection-box{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5% 70%;
    grid-gap: 20% 1%;
    width: 50%;
    left: 25%;
    background-color: #FFC635;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    scale: .5;
    transform-origin: top;
    transition: .5s;
}
.coinBox[data-active="true"] .using-collection-box{
    scale: 1;
}
.using-collection-box .coin{
    position: relative;
    width: 20%;
    filter: brightness(50%);
    opacity: 50%;
}
.coin[data-found="true"]{
    filter: brightness(100%);
    opacity: 1;
}
/* [data-collectAble="true"][data-coin="เบี้ย"].collected{
    transition: 1s;
    width: 10vw;
    left: 25vw;
    position: fixed;
    z-index: 1000;
}
[data-collectAble="true"][data-coin="พดด้วงยุคแรก"].collected{
    transition: 1s;
    width: 10vw;
    rotate: 0;
    left: 38vw;
    position: fixed;
    z-index: 1000;
}
[data-collectAble="true"][data-coin="พดด้วงยุคหลัง"].collected{
    transition: 1s;
    width: 10vw;
    left: 51.5vw;
    position: fixed;
    z-index: 1000;
} 
[data-collectAble="true"][data-coin="กษาปณ์"].collected{
    transition: 1s;
    width: 10vw;
    left: 64.5vw;
    position: fixed;
    z-index: 1000;
} */
[data-collectAble="true"].collected{
    animation: dukdik .25s linear forwards;
    transition: 1s;
    z-index: 1000;
}

@keyframes dukdik {
    50% {
        rotate: 15deg
    }
    100% {
        rotate: -15deg
    }
}