 /* comic */
 .comic_container{
    background: #FFFFFF;
    width: 60%;
    display: block;
    margin: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.comic_container p{
    font-size: 2vw;
    transition: 1s;
}
.comic_container b{
    color: #F1592A;
    font-weight:normal;
    font-size: 2.5vw;
    transition: 1s;
}

.comic_container .align-center{
    width: 60%;
    position: relative;
    display: block;
    margin: auto;
}
.comic_container .scene{
    display: block;
    position: relative;
    left: 10%;
    width: 80%;
    transition: 1s;
}
.comic_container .subScene{
    position:relative;
    left: 10%;
    width: 80%;
    opacity: 0;
    transition: 1s;
}
.comic_container .scene[data-hasSubScene="true"]{
    position: absolute;
}
.comic_container .scene[data-scene="3"]{
    width: 80%;
    left: 20%;
}
.comic_container .scene[data-scene="4"]{
    width: 25%;
    padding-top: 40%;
}

.comic_container .scene[data-status="hide"]{
    display: none;
}
