html, body, :root{
    margin: 0;
    background: #BFE9F7;
    font-family: 'Itim';
    font-size: 2vw;
    color: #238AAB;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}
.table-cell{
    display: table-cell;
    justify-content: center;
    vertical-align: middle;
}
.table{
    display: table;
    position: relative;
    margin-left: 12.5%;
}
.clickAble{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
section{
    position: relative;
    overflow-y: hidden;
}
div.clickEffect{
    position:fixed;
    box-sizing:border-box;
    background-image: url("../pic/clickEff.png");
    animation:clickEffect .4s steps(6);
    width: 128px;
    height: 128px;
    z-index:99999;
    pointer-events: none;
}
@keyframes clickEffect {
    to{
        background-position: -768px;
    }
}